.footer{
  text-align: center;
  background-color: #90D4C5;
  padding: 60px 0;
  
  div{
    max-width: 350px;
    margin: auto;
  }

  svg{
    margin-bottom: 30px;
  }

  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    a{
      color: var(--Dark_moderate_cyan_footer);
      font-size: .9em;
    }
  }
}