.navBar{
  
  ul{
    
  }
  li{
    list-style: none;
    margin: 0 20px;
  }
  a{
    text-decoration: none;
    color: var(--White);
    font-family: $fuente_1;
    transition: $trasicion;
  }
  a:hover{
    color: var(--Dark_grayish_blue);
  }
 
}